.cabecalho{
    padding: 12px 16px 0;
    max-width: 1100px;
    margin: 0 auto;
}

.cabecalho-titulo{
    display: flex;
    justify-content: center;
    font-family: var(--fonteTitulo);
    font-style: oblique;
    font-size: clamp(40px, 8vw, 84px);
    letter-spacing: 4px;
    margin: 10px 0 2px;
    align-items: center;
    background-color: var(--fundo);
    color: var(--letra);
}

.cabecalho-titulo a{
    color: #E53935;
}

.cabecalho-titulo img{
    width: 250px;
    height: auto;
}

.cabecalho-titulo span{
    color: #E53935;
}

.cabecalho-login{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: .9rem;
    color: #0c0a0a;
    margin-bottom: 20px;
}

.cabecalho-login span{
    cursor: pointer;
}

.cabecalho-login span:hover{
    color: #E53935;
}

.cabecalho-lema{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    color: var(--letraSec);
    font-size: 1.1rem;
}

.cabecalho-legenda{
    background-color: var(--fundo);


}

.cabecalho-legenda nav{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 1.1rem;
    font-weight: 600;
}

.link{
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    color: var(--letra);
}

.link:hover{
    color: #E53935;
}

